{% extends "back/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}修改物业信息{{ current_user.username }}{% endblock %}


{% block scripts %}
{{super()}}
<script>
activate_nav(3)
</script>
{% endblock %}

{% block page_content %}
<h1 class="app-page-title">{% if isNew %}添加新门店{% else %}修改门店信息{% endif %}</h1>
<hr class="mb-4">
<div class="row g-4 settings-section">
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">

            <div class="app-card-body">
                {{ wtf.quick_form(form) }}
            </div>
            <!--//app-card-body-->

        </div>
        <!--//app-card-->
    </div>
</div>

{% endblock %}

