{% extends "back/base.html" %}

{% block title %}统计报表{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='back/assets/js/charts-demo.js') }}"></script>
<script>

    socket.on('connect', function () {
        console.log("#analysis successfully connected to server")
        socket.emit("chart", {"action": 2})
    });

    socket.on("chart", function(json_data) {
        var lineChart = document.getElementById('chart-line').getContext('2d');
        window.myLine = new Chart(lineChart, lineChartConfig);
        
        var barChart = document.getElementById('chart-bar').getContext('2d');
        window.myBar = new Chart(barChart, barChartConfig);
        
        var pieChart = document.getElementById('chart-pie').getContext('2d');
        window.myPie = new Chart(pieChart, pieChartConfig);
        
        var doughnutChart = document.getElementById('chart-doughnut').getContext('2d');
        window.myDoughnut = new Chart(doughnutChart, doughnutChartConfig);
    })

    
</script>
{% endblock %}

{% block page_content %}
<!-- 统计信息 -->
<!-- 作为买家: -->
<!--    月订购单数(作为买家的订单)的折线图或条形图    -->
<!--    月采购额(花费的金额)的折线图或条形图 -->
<!-- 作为卖家: -->
<!--    月订单量 -->
<!--    月营业额 -->

<h1 class="app-page-title">统计报表</h1>
<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-toggle="tab"
        href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">近7日</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-toggle="tab" href="#orders-paid"
        role="tab" aria-controls="orders-paid" aria-selected="false">近30日</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-toggle="tab"
        href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">近90日</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-toggle="tab"
        href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">近365日</a>
</nav>

<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="row g-4 mb-4">
                    <div class="col-12 col-lg-6">
                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Area Line Chart Demo</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                    <canvas id="chart-line" ></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-6">		        
                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Bar Chart Demo</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                    <canvas id="chart-bar" ></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-6">		        
                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Pie Chart Demo</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                    <canvas id="chart-pie" ></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//col-->
                    <div class="col-12 col-lg-6">		        
                        <div class="app-card app-card-chart h-100 shadow-sm">
                            <div class="app-card-header p-3 border-0">
                                <h4 class="app-card-title">Doughnut Chart Demo</h4>
                            </div><!--//app-card-header-->
                            <div class="app-card-body p-4">					   
                                <div class="chart-container">
                                    <canvas id="chart-doughnut" ></canvas>
                                </div>
                            </div><!--//app-card-body-->
                        </div><!--//app-card-->
                    </div><!--//col-->
                </div><!--//row-->

            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
        <!-- <nav class="app-pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav> -->
        <!--//app-pagination-->

    </div>
    <!--//tab-pane-->

    <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
        <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
                
            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
    </div>
    <!--//tab-pane-->

</div>




{% endblock %}