{% extends "back/base.html" %}

{% block title %}我的订单{% endblock %}

{% block scripts %}
{{super()}}
<script>
activate_nav(2)
</script>
{% endblock %}

{% block page_content %}
<!-- 作为买家的订单列表 -->


<div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
        <h1 class="app-page-title mb-0">所有订单</h1>
    </div>
    
</div>
<!--//row-->


<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-toggle="tab"
        href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">全部</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-toggle="tab" href="#orders-paid"
        role="tab" aria-controls="orders-paid" aria-selected="false">待确认</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-toggle="tab"
        href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">待支付</a>
    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-toggle="tab"
        href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">已支付</a>
</nav>


<div class="tab-content" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <!-- 全部订单 -->
                    {% from "back/order_table_template.html" import make_order_table %}
                    {{ make_order_table(current_user.orders_on_status(), OrderStatus, isBuyer=False) }}
                </div>
                <!--//table-responsive-->

            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
        <!-- <nav class="app-pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav> -->
        <!--//app-pagination-->

    </div>
    <!--//tab-pane-->

    <div class="tab-pane fade" id="orders-paid" role="tabpanel" aria-labelledby="orders-paid-tab">
        <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <!-- 待确认订单 -->
                    {% from "back/order_table_template.html" import make_order_table %}
                    {{ make_order_table(current_user.orders_on_status(OrderStatus.CREATED), OrderStatus, isBuyer=False) }}
                </div>
                <!--//table-responsive-->
            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
    </div>
    <!--//tab-pane-->

    <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
        <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <!-- 已支付订单 -->
                    {% from "back/order_table_template.html" import make_order_table %}
                    {{ make_order_table(current_user.orders_on_status(OrderStatus.WAIT_PAYMENT), OrderStatus, isBuyer=False) }}
                </div>
                <!--//table-responsive-->
            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
    </div>
    <!--//tab-pane-->
    <div class="tab-pane fade" id="orders-cancelled" role="tabpanel" aria-labelledby="orders-cancelled-tab">
        <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
                <div class="table-responsive">
                    <!-- 已支付订单 -->
                    {% from "back/order_table_template.html" import make_order_table %}
                    {{ make_order_table(current_user.orders_on_status(OrderStatus.PENDING), OrderStatus, isBuyer=False) }}
                </div>
                <!--//table-responsive-->
            </div>
            <!--//app-card-body-->
        </div>
        <!--//app-card-->
    </div>
    <!--//tab-pane-->
</div>
<!--//tab-content-->
{% endblock %}