{% extends "back/base.html" %}

{% block title %}所有产品{% endblock %}

{% block page_content %}
<!-- 所有上传的产品的列表 -->

<div class="row g-4">
    {% for product in current_user.products %}
    <div class="col-6 col-md-4 col-xl-3 col-xxl-2">
        <div class="app-card app-card-doc shadow-sm h-100">
            <div class="app-card-thumb-holder p-3">
                <span class="icon-holder">
                    <!-- <i class="fas fa-file-alt text-file"></i> -->
                    <img style="width: 80px; height: 80px;" src="{{ product.image_url(1) }}"></i>
                </span>
                <!-- <span class="badge bg-success">NEW</span> -->
                 <a class="app-card-link-mask" href="#file-link"></a>
            </div>
            <div class="app-card-body p-3 has-card-actions">
                
                <h4 class="app-doc-title truncate mb-0"><a href="#file-link">{{ product.name }}</a></h4>
                <div class="app-doc-meta">
                    <ul class="list-unstyled mb-0">
                        <li><span class="text-muted">产品编号:</span> {{ product.id }}</li>
                        <li><span class="text-muted">单价:</span> ￥{{ product.price }}</li>
                        <!-- <li><span class="text-muted">Uploaded:</span> 3 mins ago</li> -->
                    </ul>
                </div><!--//app-doc-meta-->
                
                <div class="app-card-actions">
                    <div class="dropdown">
                        <div class="dropdown-toggle no-toggle-arrow" data-toggle="dropdown" aria-expanded="false">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
</svg>
                        </div><!--//dropdown-toggle-->
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a class="dropdown-item" href="{{ url_for('main.product', id=product.id) }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
</svg>查看</a></li>
                            <li><a class="dropdown-item" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg>修改 TODO</a></li>

                        </ul>
                    </div><!--//dropdown-->
                </div><!--//app-card-actions-->
                    
            </div><!--//app-card-body-->

        </div><!--//app-card-->
    </div><!--//col-->
    {% endfor %}
</div><!--//row-->

{% endblock %}