{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">Flasky</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="/">主页</a></li>
				{% if current_user.is_authenticated %}
				<li><a href="{{url_for('auth.user', id=current_user.id)}}">{{current_user.username}}</a></li>
				<li><a href="{{url_for('auth.logout')}}">退出</a></li>
				<li><a href="{{ url_for("main.cart") }}">购物车</a></li>
				{% else %}
				<li><a href="{{url_for('auth.login')}}">登陆</a></li>
				<li><a href="{{url_for('auth.register')}}">注册</a></li>
				{% endif %}
				<li >
					<!-- <span class="input-group"> -->
					<input type="text" class="form-control"	 aria-describedby="basic-addon2" placeholder="输入商品名称或编号">
					<!-- <button class="input-group-addon" id="basic-addon2" href="#">搜索</button> -->
				  <!-- </span> -->
				</li>
				<li><a  id="basic-addon2" href="#">搜索</a></li>
				
			</ul>
		</div>
		
	</div>
</div>

<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% block page_content %} {% endblock %}	
</div>
{% endblock %}

