<!-- 电商模板5337 -->
<!DOCTYPE html>
<html lang="zh">

<head>
	{% block metas %}
	{% endblock %}
    <title>{% block title %} base {% endblock %}</title>

    {% block styles %}
	<!-- 全局CSS -->

    {% endblock %}
</head>

<body class="app">
	{% block content %}

	{% endblock%}

    {% block scripts %}
    <!-- 全局JS -->
    
    <!-- for socketio  -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" crossorigin="anonymous"></script> -->
    <script src="{{url_for('static', filename='assets/js/socket.io.js')}}"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
            socket.on('connect', function () {
                console.log("successfully connected to server")
            });

        socket.on('cart', function (data) {
            console.log("cart response", data)
            if (data['action'] == 1 || data['action']==2){
                var json_data = data
                var p = document.querySelector("#product-" + String(json_data['product_id']) + " .cart-product-count")
                if (p!=null) {
                    p.innerText = json_data['cart_product_count']
                }
            }
            
            update_cart_product_count(data['cart_count'])
        })

        function make_json() {
            return {"user_id": Number(document.getElementById('current-user-id').innerText)}
        }

        function onclick_add_product(obj) {
            var json_data = {"user_id": Number(document.getElementById('current-user-id').innerText), "product_id": Number(obj.getAttribute("product-id")), "action":1, "count":1}
            console.log("添加产品到购物车")
            console.log(obj)
            socket.emit("cart", json_data)
        }

        function onclick_reduce_product(obj) {
            var json_data = {"user_id": Number(document.getElementById('current-user-id').innerText), "product_id": Number(obj.getAttribute("product-id")), "action":2, "count":1}
            console.log("删除购物车产品")
            console.log(obj)
            socket.emit("cart", json_data)
            // 计算总价
            // 删除数量为0的元素
        }

        function onclick_search_btn() {
            let text = document.getElementById('search-text').value;
            if (text.length>0){
                window.location.href = window.location.protocol+"//"+window.location.host+'/search?text='+text
            }
        }
    </script>
    {% endblock %}

</body>

</html>