<!-- ...:::: Start Cart Section:::... -->
<div class="cart-section">
    <!-- Start Cart Table -->
    <div class="cart-table-wrapper" main.product", id=1>
        <div class="container">
            <div class="row">
                <h3 class="breadcrumb-title" style="margin-top: 50px;">订单#{{order.id}}</h3>
                <div class="col-12">
                    <div class="table_desc">
                        <div class="table_page table-responsive">
                            <table>
                                <!-- Start Cart Table Head -->
                                <thead>
                                    <tr>
                                        <th class="product_thumb"></th>
                                        <th class="product_name">产品</th>
                                        <th class="product-price">单价</th>
                                        <th class="product_quantity">数量</th>
                                        <th class="product_total">总价</th>
                                    </tr>
                                </thead> <!-- End Cart Table Head -->
                                <tbody>
                                    {% for op in order.products.all() %}
                                    {% set product = op.product %}
                                    <!-- Start Cart Single Item-->
                                    <tr>
                                        <td class="product_thumb"><a href="{{url_for('main.product', id=product.id)}}"><img
                                                    src="{{product.image_url()}}" alt=""></a></td>
                                        <td class="product_name"><a href="{{url_for('main.product', id=product.id)}}">{{product.name}}</a></td>
                                        <td class="product-price">￥{{op.price}}</td>
                                        <td class="product_quantity">
                                    <span class="cart-product-count">{{ op.count }}</span>
                                            </td>
                                        <td class="product_total">￥{{ op.count * op.price }}</td>
                                    </tr> <!-- End Cart Single Item-->
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Cart Table -->

    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="coupon_code right" style="margin-top: 10px;">
                        <h3>详情</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>商品总价</p>
                                <p class="cart_amount">￥{{ order.products_total_price }}</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>运费</p>
                                <p class="cart_amount"> ￥{{ order.money or 0}}</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>总金额</p>
                                <p class="cart_amount">￥{{ order.products_total_price + (order.money or 0) }}</p>
                            </div>
                            <div class="cart_subtotal">
                                <p>配送地址:</p>
                                <p class="cart_amount">{{ order.store.address}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->

</div> <!-- ...:::: End Cart Section:::... -->